<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOa7CpYAT9CGGxm6k7SUrIotpfgxU7hLo</string>
	<key>GCM_SENDER_ID</key>
	<string>385657948559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riddhimunjewar.Normadish</string>
	<key>PROJECT_ID</key>
	<string>normadish</string>
	<key>STORAGE_BUCKET</key>
	<string>normadish.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385657948559:ios:22077fd7aa15220a2663fa</string>
</dict>
</plist>